h3 {
  font-size: 1.5rem;
}

.notification {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2rem;
}

.end-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.appointment-info {}